*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#div{
    text-align: center;
    width: 300px;
    height: 550px;
    background-color:#228CDB ;
    border: 7px dashed black;    
}
#div1{
    background-image: url(Virat_Kohli_in_PMO_New_Delhi.jpg.webp);
    margin-left: 40px;
    border-radius: 15%;
    margin-bottom: 10px;
    width: 220px;
    height: 260px;
}
#div2{
    background-color:#003459 ;
    display: inline-block;
    color: beige;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
}
#div3{
    color: white;    
}